/*

        Spooky's Music Web Player 
        Created and Designed by
        ScriptingWebs - Jayden

*/

.sidebar{position:fixed;float:left;width:30%;height:100%;overflow:scroll;}
#displayer p{padding-top:20px;padding-bottom:20px;text-align:center;}
